<ion-view title="{{category.name}}">
  <ion-content has-header="true">

    <div ng-if="activities.length > 0">

        <ion-list>
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="filter.nom" placeholder="Search activities…">
            </label>
          </div>
          <ion-item ng-repeat="activity in activities  | filter:filter"
           type="item-text-wrap"
           ng-click="showActivityDetails(activity)">

            <span ng-bind-html="activity.nom"></span>
            <a ng-click="addToFavorites(activity)"><i class="ion-ios7-star"></i></a>

          </ion-item>
        </ion-list>

    </div>
    <div ng-if="activities.length === 0">
        Sorry no activities found
    </div>

  </ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title" ng-bind-html="activity.nom"></h1>
      <button class="button" ng-click="closeModal()"><i class="ion-close-round"></i></button>
    </ion-header-bar>
    <ion-content>
      <div>
        <h3>Description</h3>
        <span ng-bind-html="activity.small_description"></span>
      </div>


      <button class="button button-full button-positive" ng-click="addToFavorite()">Add to favorites</button>
    </ion-content>
  </ion-modal-view>
</script>
